torch==2.0.1
numpy==1.26.4
torchvision==0.15.2
timm==0.9.8
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
ftfy
opencv-python
sentencepiece
pyarrow
transformers
pytorch-lightning==2.2.1
nltk
rouge
scikit-image
accelerate
fairscale
ruamel.yaml
wandb
pandas
future
scikit-survival
torchmetrics==0.7.3
h5py
open_clip_torch>=0.2.1
pycocoevalcap
webdataset>=0.2.31
huggingface-hub
safetensors
